
<div class="jumbotron">
  <h1>Contact Us</h1>
  <em><p>1331 17th street <br/>Denver, CO 80202 <br/> 303-WE-PIZZA</p></em>
  <p><a class="btn btn-primary btn-lg" href="https://www.google.com/maps/place/1331+17th+St,+Denver,+CO+80202/@39.7508419,-104.998658,16.97z/data=!4m5!3m4!1s0x876c78db47fa7d61:0x75b935bb17a33279!8m2!3d39.7508398!4d-104.9965293" role="button">Get Directions</a></p>
  <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 39.742043, lng: -104.991531};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcuL7_yloV1fg0xRfil47535R4pgbKfFI&callback=initMap">
    </script>
</div>
