<h1>Cart</h1>

<% @items.each do |item| %>
  <ul>
    <li>
      <%= image_tag(item.image) %>
      <%= item.title %>
      Qty: <%= @cart.quantity(item) %>
      <%= link_to "Remove", cart_path(item_id: item.id), method: :delete %>
    </li>
  </ul>
<% end %>
