<div class="jumbotron">
  <h1 class="display-3 text-center">Menu<h1>
</div>
<div class="container">

    <% @items.each do |f| %>
        <div class="col-md-4 well">
            <%= image_tag(f.image, class: "img-thumbnail img-fluid") %>
            <h3 class="text-center"><%= f.title %></h3>
            <%= button_to "Add Item", cart_path(item_id: f.id), class: "center-block btn btn-danger" %>
        </div>
    <% end %>

</div>
