body {
padding-top: 65px;
}

.logo {
border: solid #878685 3px;
padding-bottom: 5px;
width: 100px;
height: 50px;
position: relative;
top: -15px;
}

.navbar {
  text-align: center;
  font-color: pink;
}
