.jumbotron {
  height: 300px;
  width: 300px;
}

.email {
  position: relative;
  float: center;
  left: 29px;
}

.password {
  position: relative;
  float: center;
}

.btn {
  position: relative;
  left: 100px;
  bottom: -30px;
}
