#register {
  position: relative;
  margin: auto;
  width: 500px;
  height: 700px;
  background-image: image-url("navbar_space.jpg");
  border: 2px solid white;
}
#reginfo {
  position: relative;
  left: 70px;
}
h1 {
  position: relative;
  left: -60px;
}
.form-group {
  color: white;
}
#regtitle {
  color: white;
}
