#register {
  position: relative;
  margin: auto;
  width: 500px;
  height: 700px;
  background-image: image-url("navbar_space.jpg");
  border: 2px solid white;
  h1 {
    position: relative;
    right: -220px;
    color: white;
  }
}
#reginfo {
  position: relative;
  left: 70px;
}
.form-group {
  color: white;
}
#regtitle {
  position: relative;
  color: white;
  left: -210px;
}
#account {
  width: 300px;
  height: 300px;
  margin: auto;
  background-image: image-url("navbar_space.jpg");
  border: 2px solid white;
  h2 {
    text-align: center;
    color: lightgray;
  }
  p {
    color: white;
  }

}
