.carousel {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  color: gray;
  text-align: center;
}

p {
  color: gray;
  text-align: center;
}

.jumbotron {
  position: relative;
  width: 800px;
  height: 700;
  margin: auto;
  bottom: -30px
}
