.carousel {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}
.item {
  border: 2px solid white;
}

#welcome-review {
  img {
  width: 100%;
  height: auto;
  }
}

#contact{
  p {
    color: gray;
    text-align: center;
  }
  #title {
    left: -50px;
  }
}

#contact {
  position: relative;
  width: 800px;
  height: 700px;
  margin: auto;
  bottom: -30px;
  h1 {
    position: relative;
    color: gray;
    padding-left: 300px;
  }
}

.directions{
  position: relative;
  left: -100px;
  top: -10px;
}
