<div id="category-dropdown" class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Categories
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <% @category_dropdown.each do |cat| %>
      <li><%= link_to cat.name, category_path(cat) %></li>
    <% end %>
  </ul>
</div>

<div id="categoryshow" class="jumbotron">
  <div class="container">
    <% @items.each do |item|  %>
      <%=  link_to item.title, item_path(item) %><br>
      <%= link_to image_tag(item.image), item_path(item) %>   <em>Price:</em> <%= item.price %><br><br>
    <% end %>
  </div>
</div>
